<!-- Header End-->
	<footer class="d-flex justify-content-center pt-5">
		<p>&copy;  <%= new Date().getFullYear();%> <a href="https://articlepost.herokuapp.com/" target="_blank">Francis Adeboye</a></p>
	</footer>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>